@import "./mixins.sass"

#about-us, #forms, #contact
    margin: 0
    > div
        justify-content: flex-start
        min-height: 75vh

    > div > .questrial.s9em
        margin: 40px auto
        +columnify

        > h1
            margin-bottom: 20px