@import "./mixins.sass"
    
#footer
    display: flex
    justify-content: center
    align-items: center
    position: relative
    @media (max-width: 400px)
        flex-direction: column
        
    &:before
        content: ''
        position: absolute
        top: -24px
        left: 0
        width: 100%
        height: 24px
        background-image: linear-gradient(to bottom, #1e1e1e00, #1e1e1e88)

    > *
        margin: 6vh 3vw
        @media (max-width: 400px)
            margin: 2vh
        +columnify
        h4
            margin: 15px
            +resp-font(1.4em)
            @media (max-width: 600px)
                +resp-font(1em)
        .fab
            +resp-font(1.4em)

    > #social
        .fab
            margin: 0 10px
            transition: .2s
            cursor: pointer
        .fab:hover
            color: #dedede