#intro
  display: flex
  justify-content: center
  align-items: center
  background:
    image: url("../images/school.jpeg")
    repeat: no-repeat
    size: cover
    position: 50% 50%

  > div
    margin: 0
    height: 100vh
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    background-color: rgba(0, 0, 0, 0.8)

  .logo
    width: 25vw
    height: 25vw
    min:
        width: 250px
        height: 250px
    @media (min-width: 350px)
      min:
        width: 210px
        height: 210px
    max:
      width: 550px
      height: 550px

  h3
    color: 
    @media (max-width: 600px)
      font-size: 2.2em
      font-size: calc(1.5vh + 3vw + 2em)
    @media (min-width: 600px)
      font-size: 2.5em
      font-size: calc(2vh + 1vw + 2em)

  h2
    text-align: center
    padding: 6px
    margin: 4vh 0
    border-radius: 6px
    @media (min-width: 750px)
      max-width: 80vw
      +resp-font(2em)
    @media (max-width: 750px)  and (min-width: 400px)
      max-width: 95vw
      +resp-font(1.7em)
    @media (max-width: 400px)  
      max-width: 90vw
      +resp-font(1.4em)
    @media (min-width: 450px)
      &:before
        content: '-'
        margin-right: 5px 
      &:after
        content: '-'
        margin-left: 5px

  .fa-sort-down
    color: 
    font-size: calc(.8vh + .8vw + 4em)
    cursor: pointer
    animation:
      name: wiggle
      duration: 1s
      iteration-count: infinite



@keyframes wiggle
  0%
    transform: translateY(0)
  40%
    transform: translateY(8px)
  60%
    transform: translateY(6px)
  100%
    transform: translateY(0)