#intro
  display: flex
  justify-content: center
  align-items: center
  

  > div
    padding: 20px 0
    padding: 4vh 0
    min-height: 100vh
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    background-color: rgba(0, 0, 0, 0.7)

  .logo
    height: calc(5vh + 100px)
    @media (max-height: 600px)
      height: 150px
      height: 20vh
    min-height: 250px
    @media (max-height: 800px)
      min-height: 150px
    max-height: 400px

  h3
    @media (max-width: 600px)
      +resp-font(2em)
    @media (min-width: 600px)
      +resp-font(2.6em)

  h1
    margin-bottom: 4vh
    @media (max-width: 600px)
      font-size: 1.5em
      font-size: calc(1vh + .8vw + 1.4em)  
    @media (max-width: 600px) and (min-width: 350px)
      font-size: 2em
      font-size: calc(1.8vw + 2em)
    @media (min-width: 600px)
      font-size: 2.5em
      font-size: calc(2vh + 1vw + 2em)  


  h2
    font-variant-caps: small-caps
    font-weight: 900
    text-align: center
    padding: 6px
    margin: 4vh 0
    border-radius: 
    overflow-x: wrap
    @media (min-width: 750px)
      max-width: 80vw
      +resp-font(2em)
    @media (max-width: 750px)  and (min-width: 350px)
      max-width: 90vw
      +resp-font(1.5em)
    @media (max-width: 350px)  
      max-width: 90vw
      +resp-font(1em)
    @media (min-width: 450px)
      &:before
        content: '-'
        margin-right: 8px 
      &:after
        content: '-'
        margin-left: 8px

  .fa-sort-down
    color: 
    font-size: calc(.8vh + .8vw + 4em)
    cursor: pointer
    animation:
      name: wiggle
      duration: 1s
      iteration-count: infinite



@keyframes wiggle
  0%
    transform: translateY(0)
  40%
    transform: translateY(8px)
  60%
    transform: translateY(6px)
  100%
    transform: translateY(0)