=resp-font($font)
  font-size: #{$font * 7/6}
  font-size: calc(.3vh + .2vw + #{$font})

=columnify
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

$cuteorange: #FF8F00
$realbeige: #F0F0DF
$thegrey: #BDD3DE
$darkblue: #2B3A42